postgres_data/

logs/
airflow.db
airflow.cfg
webserver_config.py
unittests.cfg

data/*.db
data/*.csv
data/*.json

google_key.json
.env

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp